.add-review form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(231, 208, 212);
}
.add-review form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}